In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data,index = ["day1","day2","day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [4]:
df.loc[["day1","day3"]]#hamesha string me likhna warna nahi leta he

      calories  duration
day1       420        50
day3       390        45

A simple way to store big data sets is to use CSV files (comma separated files).

CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In our examples we will be using a CSV file called 'data.csv'.

Download data.csv. or Open data.csv

In [5]:
data1 = pd.read_csv("data.csv")
data1

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,15-Jul-21,15872.15,15952.35,15855.00,15924.20,284851049,20961.37
1,16-Jul-21,15958.35,15962.25,15882.60,15923.40,276298105,18758.13
2,19-Jul-21,15754.50,15836.90,15707.50,15752.40,242131813,18088.78
3,20-Jul-21,15703.95,15728.45,15578.55,15632.10,274284165,21329.55
4,22-Jul-21,15736.60,15834.80,15726.40,15824.05,265250867,23988.39
...,...,...,...,...,...,...,...
88,24-Nov-21,17550.05,17600.60,17354.00,17415.05,298052158,23766.93
89,25-Nov-21,17417.30,17564.35,17351.70,17536.25,255947032,21953.33
90,26-Nov-21,17338.75,17355.40,16985.70,17026.45,356330009,28485.53
91,29-Nov-21,17055.80,17160.70,16782.40,17053.95,348888750,27428.2
92,30-Nov-21,17051.15,17324.65,16931.40,16983.20,497999836,41494.9

use to_string() to print the entire DataFrame.

In [6]:
print(data1["Shares Traded"].astype("category"))#it help us to save the memory usage and it also help in faster processing of thr data

0     284851049
1     276298105
2     242131813
3     274284165
4     265250867
        ...
88    298052158
89    255947032
90    356330009
91    348888750
92    497999836
Name: Shares Traded, Length: 93, dtype: category
Categories (93, object): ['-', '217405743', '228045532', '230354386', ..., '506679748', '508285916', '538714440', '562237732']

In [7]:
data1.info()#it does not inspect the object column fully it just look at it and does not goes deep into the objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               93 non-null     object
 1   Open               93 non-null     float64
 2   High               93 non-null     float64
 3   Low                93 non-null     float64
 4   Close              93 non-null     float64
 5   Shares Traded      93 non-null     object
 6   Turnover (Rs. Cr)  93 non-null     object
dtypes: float64(4), object(3)
memory usage: 5.2+ KB

In [8]:
data1.memory_usage()#it is measuring in bytes  #it does not also goes deep into the objects

Index                128
Date                 744
Open                 744
High                 744
Low                  744
Close                744
Shares Traded        744
Turnover (Rs. Cr)    744
dtype: int64

In [9]:
##we can also sum up the whole bytes of space given by  the memory_usage function by using sum function
data1.memory_usage(deep = True).sum()

21393

In [10]:
data1.Date.unique()

array(['15-Jul-21', '16-Jul-21', '19-Jul-21', '20-Jul-21', '22-Jul-21',
       '23-Jul-21', '26-Jul-21', '27-Jul-21', '28-Jul-21', '29-Jul-21',
       '30-Jul-21', '02-Aug-21', '03-Aug-21', '04-Aug-21', '05-Aug-21',
       '06-Aug-21', '09-Aug-21', '10-Aug-21', '11-Aug-21', '12-Aug-21',
       '13-Aug-21', '16-Aug-21', '17-Aug-21', '18-Aug-21', '20-Aug-21',
       '23-Aug-21', '24-Aug-21', '25-Aug-21', '26-Aug-21', '27-Aug-21',
       '30-Aug-21', '31-Aug-21', '01-Sep-21', '02-Sep-21', '03-Sep-21',
       '06-Sep-21', '07-Sep-21', '08-Sep-21', '09-Sep-21', '13-Sep-21',
       '14-Sep-21', '15-Sep-21', '16-Sep-21', '17-Sep-21', '20-Sep-21',
       '21-Sep-21', '22-Sep-21', '23-Sep-21', '24-Sep-21', '27-Sep-21',
       '28-Sep-21', '29-Sep-21', '30-Sep-21', '01-Oct-21', '04-Oct-21',
       '05-Oct-21', '06-Oct-21', '07-Oct-21', '08-Oct-21', '11-Oct-21',
       '12-Oct-21', '13-Oct-21', '14-Oct-21', '18-Oct-21', '19-Oct-21',
       '20-Oct-21', '21-Oct-21', '22-Oct-21', '25-Oct-21', '26-Oct-21',
       '27-Oct-21', '28-Oct-21', '29-Oct-21', '01-Nov-21', '02-Nov-21',
       '03-Nov-21', '04-Nov-21', '08-Nov-21', '09-Nov-21', '10-Nov-21',
       '11-Nov-21', '12-Nov-21', '15-Nov-21', '16-Nov-21', '17-Nov-21',
       '18-Nov-21', '22-Nov-21', '23-Nov-21', '24-Nov-21', '25-Nov-21',
       '26-Nov-21', '29-Nov-21', '30-Nov-21'], dtype=object)

In [11]:
#we store our object in form of integer instead of string in category like a particular string is associated with a particular
#string 
data1["Date"].astype("category")#isme tum bas ek baar dtore karke dekh rahe ho category dtype me esse likhne se change nahi hota he

0     15-Jul-21
1     16-Jul-21
2     19-Jul-21
3     20-Jul-21
4     22-Jul-21
        ...
88    24-Nov-21
89    25-Nov-21
90    26-Nov-21
91    29-Nov-21
92    30-Nov-21
Name: Date, Length: 93, dtype: category
Categories (93, object): ['01-Nov-21', '01-Oct-21', '01-Sep-21', '02-Aug-21', ..., '30-Jul-21', '30-Nov-21', '30-Sep-21', '31-Aug-21']

In [12]:
#agar change karna he given column ka dtype toh 
data1['Date'] = data1.Date.astype('category')

In [13]:
data1.Date.cat.codes.head()#to see the in wg=hat format the category data type store the data

0    38
1    42
2    51
3    54
4    59
dtype: int8

In [14]:
data1.info(memory_usage = "deep")#this give us the full memory usage of the data with which we are working on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               93 non-null     category
 1   Open               93 non-null     float64
 2   High               93 non-null     float64
 3   Low                93 non-null     float64
 4   Close              93 non-null     float64
 5   Shares Traded      93 non-null     object
 6   Turnover (Rs. Cr)  93 non-null     object
dtypes: category(1), float64(4), object(2)
memory usage: 23.0 KB

In [15]:
#if u want the memory usage fully then
data1.memory_usage(deep = True)

Index                 128
Date                 8335
Open                  744
High                  744
Low                   744
Close                 744
Shares Traded        6129
Turnover (Rs. Cr)    6022
dtype: int64

In [16]:
c = pd.DataFrame({'ID':[100,101,102,103],'quality':['good','good','very good','excelent']})#

c

    ID    quality
0  100       good
1  101       good
2  102  very good
3  103   excelent

In [17]:
c.sort_values("quality")#we can see here it just simply sort the the given data alphabetically order

    ID    quality
3  103   excelent
0  100       good
1  101       good
2  102  very good

In [18]:
c['quality']= c.quality.astype("category")

In [19]:
#but to avoid it we convert it in the category type
from pandas.api.types import CategoricalDtype
#this is new format of doing it  earlier we simply give these arguments in astype function itself
qualiy= CategoricalDtype(categories = ['good','very good','excelent'],ordered=True)
c['quality']=c.quality.astype(qualiy)

In [25]:
c.quality.astype(qualiy)

0         good
1         good
2    very good
3     excelent
Name: quality, dtype: category
Categories (3, object): ['good' < 'very good' < 'excelent']

In [21]:
#and now if we sort the values it will sort according to our given order
c.sort_values('quality')

    ID    quality
0  100       good
1  101       good
2  102  very good
3  103   excelent

In [22]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       4 non-null      int64
 1   quality  4 non-null      category
dtypes: category(1), int64(1)
memory usage: 296.0 bytes

In [ ]:
ini = int(input())
for i in range(2 , ini):
    if ini % i == 0:
        print("not prime")
        break
else:
    print("prime number")




The number of rows returned is defined in Pandas option settings.

You can check your system's maximum rows with the pd.options.display.max_rows statement.

In [24]:
print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows,
the print(df) statement will return only the headers and the first and last 5 rows.

You can change the maximum rows number with the same statement.

pd.options.display.max_rows = 9999

df = pd.read_csv('data.csv')

print(df)

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In our examples we will be using a JSON file called 'data.json'.

Open data.json.

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.